
////////####### PAGE WRAPER ########///////

.biz-wrapper {
    display: flex;
    justify-content: space-around;
}

.biz-content-wrapper {
    min-width: 1020px;
}

.background-grey {
    position: absolute;
    z-index: -1;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    min-height: 420px;
    width: 100%;

}



//////######## MAIN CONTAINER ######//////

.biz-main-container {
    padding: 15px 0px;
    // border: 1px solid black;
}

////######## BIZ TOP INFO #########/////////

.biz-top-content {
    display: flex;
    justify-content: space-between;
}

.biz-name {
    font-size: 30px;
    font-weight: 700;
}

.biz-show-reviews {
    display: flex;
}

.biz-avg-raiting {
    background-image: url(image_path('stars.png'));
    overflow: hidden;
    background-repeat: no-repeat;
    height: 24px;
    min-width: 132px;
    background-position: 0 0px;
    margin-top: 5px;
}

.biz-show-review-count {
    padding: 6px 0px 0px 7px;
    font-size: 16px;
    color: #666;
}

.biz-price {
    margin-top: 5px;
    font-size: 19px;
}

.biz-top-content-right {
    display: flex;
    align-items: center;
}

.biz-review-button {
    display: flex;
    background: #d90007;
    border: 1px solid #8d0005;
    border-radius: 3px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.biz-review-button:hover {
    background: red;
}

.biz-review-button div {
    padding: 6px 18px 0 0;
}

.fas.biz-star-review {
        padding: 10px 0px 2px 18px;
}



///////////###########  BIZ BOTTEM INFO #########///////

.biz-bottom-content {
    display: flex;
}

.biz-show-map {
    width: 300px;
    height: 355px;
    border: 1px solid black;
}

.biz-show-bottem-content-right {
    width: 300px;
    height: 355px;
    border: 1px solid black;
}


///////########### BIZ BOTTEM CONTAINER ########///////

.biz-content-bottem {
    display: flex
}

.biz-content-bottem-main {
    width: calc(100% / 3 * 2);
    // border: 1px solid black;
    padding-right: 30px;
}

////////##### REVIEWS #########////////

.biz-content-bottem-reviews-title {
    font-size: 21px;
}

.recomended-reviews span{
    color: #d32323;
    font-weight: 700;
}

.biz-show-new-review-container {
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    margin-top: 8px;
}

.biz-show-review-left {
    width: 37.5%;
    display: flex;
}

.biz-show-user-profile-img {
    width:25%;
    height: auto;
}

.biz-show-user-details {
    margin-left: 9px;
}

.biz-show-user-details a {
    font-weight: 700;
}

.biz-show-no-user-profile-img {
    width: 61%;
}

.biz-show-review-right {
    width: 62.5%;
    padding: 11px;
    background: #f5f5f5;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biz-show-start-review {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    margin-top: 12px;
    color: #0073bb;
    text-decoration: none;
}

.biz-show-start-review span {
    font-weight: 700;
}

///////////########## BOTTEM SIDE #####///////

.biz-content-bottem-side {
    width: calc(100% / 3);
    border: 1px solid black;
}


///////########### STAR REVIEWS ######////////

.five-stars {
    width: 165px;
    height: 24px;
    display: flex;
    flex-direction: row-reverse;
}

.star {
    background-image: url(image_path('big_stars.png'));
    // overflow: hidden;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    padding-right: 3px;
    background-position: 0 0px;
    // margin-top: 5px;
}


#two.star:hover ~ .star {
    background-position: 0 -60px;
    cursor: pointer;
}

#three.star:hover ~ .star {
    background-position: 0 -90px;
    cursor: pointer;
}

#four.star:hover ~ .star {
    background-position: 0 -120px;
    cursor: pointer;
}

#five.star:hover ~ .star {
    background-position: 0 -150px;
    cursor: pointer;
}

#one.star:hover {
    background-position: 0 -30px;
    cursor: pointer;
}

#two.star:hover {
    background-position: 0 -60px;
    cursor: pointer;
}

#three.star:hover {
    background-position: 0 -90px;
    cursor: pointer;
}

#four.star:hover {
    background-position: 0 -120px;
    cursor: pointer;
}

#five.star:hover {
    background-position: 0 -150px;
    cursor: pointer;
}

// .star#one {
//     position: absolute;
//     z-index: 5;
//     background-position: 0 0;
    
// }

// .star#two {
//     position: absolute;
//     z-index: 4;
//     width: 51px;
//     background-position: 0 0;
    
// }

// .star#three {
//     position: absolute;
//     width: 78px;
//     z-index: 3;
//     background-position: 0 0;
    
// }

// .star#four {
//     width: 105px;
//     position: absolute;
//     z-index: 2;
//     background-position: 0 0;
    
// }

// .star#five {
//     width: 132px;
//     position: absolute;
//     z-index: 1;
//     background-position: 0 0;
    
// }

// .star#one:hover {
//     z-index: 6;
//     cursor: pointer;
//     background-position: 0 -24px;
// }

// .star#two:hover {
//     z-index: 6;
//     cursor: pointer;
//     background-position: 0 -72px;
// }

// .star#three:hover {
//     z-index: 6;
//     cursor: pointer;
//     background-position: 0 -120px;
// }

// .star#four:hover {
//     z-index: 6;
//     cursor: pointer;
//     background-position: 0 -168px;
// }

// .star#five:hover {
//     z-index: 6;
//     cursor: pointer;
//     background-position: 0 -216px;
// }



