// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//##### Header #####//

.business-index-header {
    display: flex;
    justify-content: space-around;
    background: #d32323;
    height: 40px;
    padding: 12px 0px;
}

.logo-img {
    width: 50%;
}
.business-index-nav {
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 996px;
    height: 40px;
    margin: 0px -18px;
}

.index-sprites {
    display: flex;
    justify-content: space-evenly;
    width: 75px;
    align-items: center;
}

.index-session-links {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
    height: 40px;
}

.index-session-links li.log {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
}

.index-session-links li.sign {
    display: flex;
    align-items: center;
    height: 100%;
    width: 55%;
}

.index-login {
    color: white;
    background: #d32323;
    border: 1px solid #bd1f1f;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
}

.index-session-links li .index-login:hover {
    background: #bd1f1f;
    border-bottom: 1px solid #bd1f1f;
}

.index-signup {
    color: black;
    background: #f5f5f5;
    border: 1px solid #bd1f1f;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    padding: 7px;
}

.index-session-links li .index-signup:hover {
    border: 1px solid #bd1f1f;
}

// .index-session-links li a {
//     color: white;
// }

.index-session-links li a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
}

.index-search-bar {
    width: 705px;
    height: 36px;
}

////####### CATEGORIES BAR ########//////

.categories {
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-bottom: 1px solid #e6e6e6;
    background: #fafafa;
}

.categories-bar {
    display: flex;
    height: 40px;
    min-width: 1020px;
    border-left: 1px solid #e6e6e6;
}

.category-container {
    display: inline-block;
    position: relative;
    width: 23.7%;
    height: 40px;
}

.category-item {
    // display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border-right: 1px solid #e6e6e6;
}

.category-item.write-review {
    display: flex;
    width: 27.3%;
}

.category-button {
    display: flex;
    justify-content: space-between;
}

.category-name {
        padding: 10px 5px 8px 0px;
}

.fas.category {
    padding: 14px 0px 0px 9px;
}

.category-fill {
    height: 40px;
    width: 33.3%;
    border-right: 1px solid #e6e6e6;
}

.sub-cats {
  display: none;
  position: absolute;
  left: -1px;
  background-color: #fafafa;
  min-width: 300px;
  z-index: 1;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 7px;
}

.sub-cat {
    display: flex;
    flex-basis: calc(50% - 14px);
    // width: 50%;
    // height: 50px;
    // justify-content: space-around;
    align-items: center;
    padding: 7px;
}

.category-button:hover {
    color: #0073bb;
}

.sub-cat:hover {
    color: #0073bb;
    cursor: pointer;
}

.review-link {
    display: flex;
    color: black;
}

.review-link:hover {
    color: #0073bb;
    text-decoration: none;
}

.review-font {
    padding-top: 10px;
}

.category-container:hover .sub-cats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
}


///####### Search Params #####/////

.search-params-container {
    height: 133px;
    background: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-around;
}

.display-results-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1020px;
    height: 100%;
    padding-left: 10px;
    font-size: 21px;
    color: #333;
}

.display-results-message span {
    font-weight: 700;
}

/////##### Main Content Index ####////

.index-main-content {
    padding: 18px 0px;
    display: flex;
    justify-content: space-around;
}

.index-main-content-container {
    width: 1020px;
    display: flex;
}

/////##### Business Index #####////

.business-index {
    width: 630px;
    margin: 0 18px;
}

.business-item-container {
    width: 630px;
    height: 232px;
    border-top: 1px solid #e6e6e6;
    padding: 18px 0;
    display: flex;
}

.index-item-img {
    width: 228px;
    height: 232px;
    // border: 1px solid black;
}

.info.biz-title a {
    font-weight: 700;
}

.info.biz-title {
    font-weight: 700;
}

.business-index-img {
    object-fit: cover;
    width: 210px;
    height: 210px;
}

.biz-rating-star {
    background-image: url(image_path('stars.png'));
    overflow: hidden;
    background-repeat: no-repeat;
    height: 18px;
    min-width: 110px;
    background-position: 0 -240px;
    margin-top: 5px;
}

#avg-one.biz-rating-star {
    background-position: 0 -258px;
}

#avg-one-half.biz-rating-star {
    background-position: 0 -276px;
}

#avg-two.biz-rating-star {
    background-position: 0 -294px;
}

#avg-two-half.biz-rating-star {
    background-position: 0 -312px;
}

#avg-three.biz-rating-star {
    background-position: 0 -330px;
}

#avg-three-half.biz-rating-star {
    background-position: 0 -348px;
}

#avg-four.biz-rating-star {
    background-position: 0 -366px;
}

#avg-four-half.biz-rating-star {
    background-position: 0 -384px;
}

#avg-five.biz-rating-star {
    background-position: 0 -402px;
}

.biz-avg-review {
    display: flex;
}

.index-item-biz-raiting-count {
    padding-top: 3px;
    font-size: 15px;
    color: #666;
}

.index-item-details {
    display: flex;
    width: 402px;
    height: 33%;
    // border: 1px solid black;
    padding: 10px;
}

.index-item-review {
    // display: flex;
    height: 3.6em;
    width: 300px;
    // border: 1px solid black;
    // white-space: nowrap;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    height: 23%;
}

.index-item-info-side .info {
    text-align: end;
}

.index-item-info-main {
    width: 50%;
}
.index-item-info-side {
    width: 50%;
    align-items: flex-end;
}

///////########## Map #######//////

.index-map {
    height: 300px;
    width: 298px;
    border: 1px solid black;
    position: sticky;
    top: 18px;
}

