.category-menu {
    position: relative;
    top: 118px;
    right: -37px;
    background: white;
    height: 250px;
    width: 250px;
    display: flex;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.category-button {
}