
.carousel-wrapper {
    display: flex;
    // position: absolute;
    width: 100%;
    margin: 0px;
    align-items: center;
}

.carousel-container {
    display: flex;
    align-items: center;
}

.scroll-button {
    z-index: 10;
    // position: absolute;
    color: white;
    // position: relative;
    font-size: 30px;

}

#next {
    position: relative;
    // color: red;
    margin-right: 10px;
    right: 32px;
}

#pre {
    position: absolute;
    margin-left: 8px;
}

.carousel-img {
    // width: calc(100% / 3);
    // padding-bottom: calc(100%/3);
    width: 231px;
    height: 231px;
    overflow: hidden;
}

.carousel-img-img {
    width: 231px;
    height: 231px;    
    object-fit: cover;
}

.center.carousel-img {
    transform: scale(1.2);
    z-index: 4;
}

.carousel-img:hover {
    transform: scale(1.2);
    z-index: 4;
}